<a href="https://colab.research.google.com/github/aimanmuhamad/data_collection_processing/blob/main/imbalanced_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
card_data=pd.read_csv('creditcard.csv')

In [4]:
card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [6]:
card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
7968,10980,1.284388,-0.013181,0.646174,0.198985,-0.568675,-0.526121,-0.448235,-0.167709,1.773223,...,-0.101868,-0.030298,-0.081412,-0.123281,0.278808,1.064001,-0.090181,0.000481,15.95,0.0
7969,10981,1.190428,-0.122329,0.954945,0.267101,-0.971026,-0.652279,-0.612992,-0.003909,1.633117,...,-0.015001,0.127027,0.012079,0.534409,0.112179,1.004483,-0.100188,-0.004774,14.95,0.0
7970,10981,-0.725175,0.298202,1.824761,-2.587170,0.283605,-0.016617,0.153659,0.045084,-0.197611,...,-0.017097,-0.070535,-0.442861,-0.895837,0.624743,-0.510601,-0.031142,0.025564,12.95,0.0
7971,10981,1.226153,-0.129645,0.735197,0.142752,-0.703245,-0.349641,-0.612641,0.020507,1.648986,...,-0.047936,0.040196,-0.057391,-0.012386,0.187685,1.037786,-0.100081,-0.009869,15.95,0.0
7972,10981,1.145381,-0.059349,0.968088,0.267891,-0.822582,-0.597727,-0.450197,-0.119747,1.338188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#distribution of two classes
card_data['Class'].value_counts()

0.0    7947
1.0      25
Name: Class, dtype: int64

In [8]:
#0 is legit and 1 is fraud
legit=card_data[card_data.Class==0]
fraud=card_data[card_data.Class==1]

In [9]:
print(legit.shape)
print(fraud.shape)

(7947, 31)
(25, 31)

In [10]:
legit_sample=legit.sample(n=25)

In [11]:
print(legit_sample.shape)

(25, 31)

In [12]:
#concate the dataframe
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [13]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
195,128,1.239495,-0.182609,0.155058,-0.928892,-0.746227,-1.235608,-0.061695,-0.125223,0.984938,...,0.146077,0.481119,-0.140019,0.538261,0.710720,-0.621382,0.036867,0.010963,8.80,0.0
2878,2433,-0.323136,0.696670,0.892547,-2.150721,0.411488,-1.220408,1.160926,-0.409264,0.873060,...,0.027271,0.460063,-0.357217,-0.109951,0.138486,-0.808413,0.237986,-0.018812,1.00,0.0
7203,9444,1.172801,0.631673,0.625903,1.980214,-0.033528,-0.661892,0.221347,-0.282682,0.309649,...,-0.160070,-0.173633,0.083899,0.612721,0.272134,0.893316,-0.102194,-0.000721,6.00,0.0
6847,8687,1.138664,-0.795497,-0.281918,-1.234506,-0.911956,-1.522579,0.150107,-0.521451,1.093037,...,-0.737249,-1.706349,0.004205,0.258210,0.415014,-0.988249,-0.010560,0.042760,160.90,0.0
7436,10088,-0.518900,1.176739,2.849489,3.145573,-0.323328,1.043291,-0.290247,0.379291,0.712743,...,-0.167913,0.075807,-0.082986,0.018504,-0.351185,0.196172,0.399532,0.185837,4.95,0.0

In [14]:
new_dataset['Class'].value_counts()

0.0    25
1.0    25
Name: Class, dtype: int64